body {
  padding: 0;
  margin: 0;
  margin-top: 2em;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  color: white;
  background: black;
  width: 100%;
}

.navbar > div {
  float: left;
  display: inline;
  padding-bottom: 0.5em;
}

.navbar > div > a {
  text-decoration: none;
  color: white;
  margin-right: 1em;
}

.title-container {
  text-align: left;
  background-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
  color: white;
  padding: 0.1em;
}

#home-main {
  background-image: url('./assets/ju-on-1113552-unsplash.jpg');
  height: 90vh;
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
}

footer > p {
  margin: 0.5em;
}
