/*
font-family: 'Source Code Pro', monospace;
This is for forms

font-family: 'Allura', cursive;
Mostly just for the title

font-family: 'EB Garamond', serif;
This is for normal text */

body {
  background: #fffae6;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  font-family: 'EB Garamond', serif;
}

/* Make the form generally larger */
textarea {
  margin: 0.2em 0 0.2em 0;
  width: 25em;
  height: 12em;
  background: #fffae6;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  border: none;
}

input {
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  background: #fffae6;
  border: none;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  z-index: 2;
}

.navbar-left {
  width: 50%;
  float: left;
}

.navbar-left > div {
  float: left;
  display: inline;
  padding-bottom: 0.5em;
}

.navbar-left > div > a {
  text-decoration: none;
  color: #fffae6;
  margin-right: 1em;
}

.navbar-right {
  display: inline;
  float: left;
  width: 49%;
  text-align: right;
  margin: 0;
}

.navbar-right > p {
  margin: 0;
}

.navbar-link {
  text-decoration: none;
  color: #fffae6;
}

.login-button {
  cursor: pointer;
  color: #fffae6;
}

.login-popup {
  z-index: 3;
  position: fixed;
  top: 1.5em;
  right: 0;
  background: black;
  height: 2em;
  padding: 0.2em;
  border-radius: 0 0 0 10px;
}
/*  */

/* Loading Images */
@keyframes loading-rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.loading-container {
  position: fixed;
  top: 30vh;
  width: 95vw;
}

.loading-sun {
  margin: auto;
  background-image: url('./assets/quill-loading-sun.png');
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  text-align: center;
  z-index: 1;
  animation: loading-rotate 2s infinite linear;
}
/*  */

/* Edit Button */
.edit-button {
  font-size: 1.3em;
  display: block;
  background: black;
  color: white;
  border-radius: 20px;
  margin: 0;
  padding: 2px;
  cursor: pointer;
  border: none;
}

.edit-button:hover {
  color: black;
  background: white;
}
/*  */


/* Home */
#home-main {
  background-image: url('https://images.unsplash.com/photo-1472448352019-15f4081b66a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1568&q=80');
  /* Photo credit: nikita velikanin | @nikita_v */
  height: 95vh;
  background-size: cover;
}

.home-title {
  float: left;
  clear: both;
  text-align: left;
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  color: white;
  padding: 0.1em;
  width: 50%;
  font-family: 'Allura', cursive;
  padding: 0;
  position: relative;
  left: -0.3em;
}

.home-title > img {
  height: 1em;
  width: 0.8em;
  filter: invert(1);
  position: relative;
  top: 0.2em;
  left: 0.4em;
}

.home-tile-container {
  margin: 1em;
}

.home-info {
  text-align: left;
  padding: 0.5em;
  float: left;
  clear: both;
  color: black;
  background: rgba(255, 250, 230,1);
  font-size: 1.2em;
  border-radius: 1px;
}

.home-story-tile {
  width: 24%;
  height: 100px;
  float: left;
  text-align: center;
}

.home-story-tile > img {
  width: 80%;
}

.home-story-tile > p {
  width: 90%;
}
/*  */

/* Page Format: Image Right */
.image-right-text {
  width: 90vw;
  background-image: linear-gradient(to right, rgba(255, 250, 230), rgba(255, 250, 230, 0.7), rgba(255, 250, 230, 0));
  text-align: left;
  margin-top: 1em;
  padding-left: 5vw;
  padding-top: 10vh;
  min-height: 85vh;
  color: black;
}

.image-right {
  position: fixed;
  right: 0;
  top: 1em;
  width: 100vw;
  z-index: -1;
}

.image-right > img {
  width: 100%;
  z-index: -1;
}
/*  */

/* User Index */
.user-index {
  background: rgba(0,0,0,0);
  padding-top: 2em;
}

.user-index > h2 {
background-image: linear-gradient(to right, rgba(255, 250, 230, 0), rgba(255, 250, 230, 1), rgba(255, 250, 230, 0));
}

.user-index > img {
  min-width: 100vw;
  max-width: 200vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

.user-index-card-container {
  width: 100vw;
  padding-bottom: 4em;
}

.user-index-card {
  color: black;
  display: inline-block;
  background: rgb(255, 250, 230);
  width: 20em;
  height: 8em;
  overflow: hidden;
  margin: 5px;
  padding: 0.5em;
  text-decoration: none;
  text-align: left;
  border-radius: 3px;
}

.user-index-card > div > a {
  text-decoration: none;
  position: relative;
}
/*  */

/* User Profile Page */
.user-profile {
  width: 98%;
  float: left;
  background-image: linear-gradient(to right, rgba(0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  text-align: left;
  margin-top: 1em;
  padding-top: 10vh;
  padding-left: 1em;
  padding-bottom: 15vh;
  min-height: 90vh;
  color: white;
}

.user-profile > p {
  color: white;
  display: inline-block;
  min-height: 5em;
  width: 30em;
}

.user-story-container {
  width: 20em;
  margin-bottom: 4em;
}

.user-story-card {
  color: white;
  text-decoration: overline;
}

.user-story-card-image {
  width: 20em;
  height: 2em;
  overflow: hidden;
}

.user-story-card-image > img {
  position: relative;
  top: -2em;
  width: 30em;
}
/*  */

/* Story Index Cards */
.story-index-story-container {
  display: inline-block;
  width: 20em;
  margin: 1em;
  padding: 0.5em;
  border: solid black 2px;
  border-radius: 2px;
  text-decoration: none;
}

.story-index-story-card {
  color: black;
  text-decoration: overline;
}

.story-index-card-author {
  color: black;
  text-decoration: overline;
}

.story-index-card-image {
  width: 20em;
  height: 3em;
  overflow: hidden;
}
/*  */

/* Story Container */
.story-container-left {
  float: left;
  width: 43vw;
  min-width: 400px;
  padding: 0;
}

.story-container-input {
  background: #ffb366;
}

.story-container-right {
  float: left;
  margin-left: 4vw;
  width: 43vw;
  min-width: 400px;
  height: 70vh;
}

.story-container-right > img {
  width: 100%;
}

.story-container-bg {
  filter: opacity(0.5);
}
/*  */

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
}

footer > div {
  width: 49vw;
  float: left;
  text-align: left;
}

#photo-credit {
  text-align: right;
}
